body{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:0; /* we will make the spaces with relative position since there are differences. ✓ */
  background:#FAF7F2
}

header {
  background-image: url("assets/iteration-1/home-banner.png");
  background-repeat: no-repeat;
  gap:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  width: 1920px;
  height: 1080px;
}

header h1 {
  margin:0;
}

#teknolojik {
  position: relative;
  top: 56px;
  width: 363px;
  height: 50px;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
/* identical to box height, or 100% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin:0;
}

.header-content {
  width: 586.67px;
  height: 300px;
  padding: 0px 0px 0.73px 0px;
  display:flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  top:103px;
  justify-content: center;
  position:relative;
}

.header-content button {
  width: 193.27px;
  height: 56px;
  padding: 3.73px 50.16px 0.27px 49.64px;
  border-radius: 50px;
  background: #FDC913;
  display: flex;
  align-items: center;
  text-align: center;
}

#button-text {
  width: 93.47px;
  height: 52px;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  color: #292929;
}

.header-content h2 {
  width: 324px;
  height: 46px;
  font-family: "Satisfy";
  font-size: 32px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
  color: #FDC913;
  margin:0;
}

.header-content h1 {
  width: 767.64px;
  height: 195px;
  font-family: "Roboto Condensed";
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav {
  width:1068px;
  height: 42px; /* 94-26-26 */
  padding: 26px 426px 26px 426px;
  gap: 10px;
  background: #FFFFFF;
  align-content: center;
  align-items: center;
  display:flex;
  justify-content: center;
}

.header-nav ul {
  gap: 52.13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  list-style:none;
  padding:0;
  flex-wrap: nowrap;
  width: 1068px;
}

.header-nav ul li {
  margin:0;
  padding:0;
}

.header-nav ul li a {
  gap: 16px;
  padding: 0px 3.8px 0px 0px;
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  text-align: left;
  color:black;
}

.order {
  width: 1072px;
  height: 449px;
  display:flex;
  flex-direction:row;
  align-self: center;
  gap: 11px;
  position: relative;
  top: 68px;
}

#lezzetus-card {
  background-image: url("assets/iteration-2/cta/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 531px;
  height: 449px;
  display:flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 12px;
}

#lezzetus-text-frame {
  width: 158.61px;
  height: 251.75px;
  top: 44px;
  left: 49px;
  position: relative;
  gap: 5.84px;
  display:flex;
  flex-direction: column;
}

#lezzetus-card h3 {
  width: 288.18px;
  height: 148px;
  top: -2.09px;
  left: -10px;
  position: relative;
  gap: 0px;
  opacity: 0px;
  font-family: "Quattrocento";
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
}

#lezzetus-card h4 {
  width: 275px;
  height: 27px;
  left: -10px;
  position: relative;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 600;
  line-height: 26.76px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
}

#lezzetus-card button {
  width: 138px;
  height: 48px;
  left: -10px;
  position: relative;
  margin-top: 19.16px; /* extra space is given for button (25px - 5.84px) ✓ */
  padding: 3px 18px 0px 18px;
  border-radius: 50px;
  background: #FFFFFF;
  display:flex;
  align-items:center;
}

#order-button-text {
  width: 102px;
  height: 45px;
  top: 3px;
  left: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #CE2829;
}

/* order part - GERİ KALAN */

#rest-card {
  width: 530px;
  height: 449px;
  display:flex;
  flex-direction:column;
  gap: 9px;
}

#hackathlon {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  background-image: url("assets/iteration-2/cta/kart-2.png");
  background-repeat: no-repeat;
  background-size:cover;
  display:flex;
  flex-direction:column;
}

#hackathlon-text-frame{
  width: 182.35px;
  height: 163px;
  border-radius: 50px;
  display:flex;
  flex-direction:column;
  position:relative;
  top: 28.5px;
  left:32px;
  gap:29px;
}

#hackathlon h4 {
  width: 182.35px;
  height: 86px;
  font-family: "Barlow";
  font-size: 32px;
  font-weight: 600;
  line-height: 44.27px;
  text-align: left;
  color: #FFFFFF;
  margin:auto;
}

#hackathlon button {
  width: 138px;
  height: 48px;
  padding: 3px 18px 0px 18px;
  border-radius: 50px;
  background: #FFFFFF;
  display:flex;
  align-items:center;
}

#kurye {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  display:flex;
  justify-content: space-between;
  background-image: url("assets/iteration-2/cta/kart-3.png");
  background-repeat: no-repeat;
  background-size:cover;  
}

#kurye-text-frame{
  width: 212px;
  height: 161px;
  display:flex;
  flex-direction:column;
  position:relative;
  top:29.5px;
  left:32px;
  gap:24.94px; /* distance between text & button */
}

#kurye h4 {
  width: 254px;
  height: 88px;
  position: relative;
  top: 0.47px;
  font-family: "Barlow";
  font-size: 32px;
  font-weight: 600;
  line-height: 44.27px;
  text-align: left;
  color: #D80027;
  margin: 0;
}

#npm-gibi {
  color: #292929;
}

#kurye button {
  width: 138px;
  height: 48px;
  padding: 3px 18px 0px 18px;
  border-radius: 50px;
  background: #FFFFFF;
  display:flex;
  align-items:center;
}

/* ara text */

.ara-text {
  width: 1296px;
  height: 110.45px;
  top: 132px; /* 64+68 */
  padding: 0px 292px 9.45px 292px;
  gap: 0px;
  display:flex;
  flex-direction:column;
  align-items: center;
  position: relative;
}

.ara-text h2 {
  width: 408px;
  height: 46px;
  position:relative;
  top: -9px;
  font-family: "Satisfy";
  font-size: 32px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
  color: #CE2829;
  margin: 0;
}

.ara-text h3 {
  width: 712px;
  height: 56px;
  font-family: "Barlow";
  font-size: 42px;
  font-weight: 600;
  line-height: 56.2px;
  text-align: center;
  color: #292929;
  margin: 0;
  position:relative;
  top: -1px; /* to make the space between h2&h3 8px */
}

.ara-nav {
  width: 1068px;
  height: 190px;
  position: relative;
  top: 148.55px; /* 64+68+16.55 */
  display:flex;
  align-items:flex-start;
  padding:0;
}

.ara-nav-nav {
  margin:0;
}

#ara-nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:22.39px;
  list-style:none;
  padding:0;
  margin:0;
  width:1068px;
  flex-wrap: nowrap;
}

.ara-nav-li {
  height: 100%;
  padding: 12px 20px 12px 20px;
  margin:0;
  border-radius: 50px;
  background: #FFFFFF;
  display:flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.ara-nav-li:nth-child(2) {
  background: #292929;
}

.ara-nav-span {
  color: #FFFFFF;
}

.ara-nav-a {
  margin:0;
  display:flex;
  gap:10px;
  flex-wrap: nowrap;
  width:100%;
  height: 100%;
  text-decoration:none ;
  align-items: center;
  color: #292929;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  text-align:center;
}

/* ARA TANITIM BÖLÜMÜ PİZZALAR VE BURGER */

.ara-tanitim {
  width: 1068px;
  height: 430px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  position:relative;
  top: 72px;
}

.tanitim {
  width: 334.67px;
  height: 419px;
  border-radius: 12px;
  background: #FFFFFF;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing:border-box; /* to protect box-size while adding padding */
  padding:32px;
}

.tanitim img {
  width: 270.67px;
  height: 265px;
}

.tanitim-frame {
  width: 270.67px;
  height: 355px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin:0;
}

.tanitim-textbox {
  width: 270.67px;
  height: 66px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tanitim-textbox2 {
  width: 270.67px;
  height: 29px;
  gap: 121.14px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.tanitim-textbox h2 {
  width: 270.67px;
  height: 29px;
  font-family: "Barlow";
  font-size: 22px;
  font-weight: 600;
  line-height: 29.44px;
  text-align: left;
  color: #292929;
  margin:0;
}

.tanitim-textbox2 h3 {
  width: 23px;
  height: 29px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: #1B1B1BB2;
  margin:0;
}

.textbox2-group {
width: 126.53px;
height: 29px;
display:flex;
justify-content: space-between;
gap: 33.52px;
align-items:center;
}

.textbox2-group h3 {
  width: 38px;
  height: 29px;
  left: 144.14px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: #1B1B1BB2;
  margin:0;
}

.fiyat {
  width: 55.01px;
  height: 25px;
  top: 2px;
  left: 215.65px;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.76px;
  text-align: right;
  color: #292929;
}

footer {
  position: relative;
  width: 1920px;
  height: 561.25px;
  left: 0px;
  top: 136px;
  background: #1A1A1A;
}

.footer-first-frame {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 354px;
position: relative;
width: 1066px;
height: 390.37px;
top:58px;
left:427px;
}

.footer-text-group-a1 {
  margin: 0 0;
  width: 663px;
  height: 390.37px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-text-group-b1 {
  position: absolute;
  width: 306px;
  height: 321.45px;
  left: 357px;
  top: 68.91px;
  display:flex;
  flex-direction: column;
}

.footer-text-group-b1 h3 {
  position: absolute;
  width: 98.39px;
  height: 32px;
  left: 0px;
  top: 1px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 134% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin:0;
}



.footer-instagram {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin: 0 auto;
  width: 347px;
  height: 332px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position:relative;
  top:29.18px;
  left:719px;
  margin:0;
}

.footer-instagram h3 {
  width: 174.37px;
  height: 32px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 134% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin:0;
}

.footer-instagram-images {
  padding: 0px;
  width: 347px;
  height: 222px;
}

.footer-instagram-images ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  gap: 10px;
  margin:0;
  list-style:none;
}

.footer-instagram-images li {
  width: 105px;
  height: 105px;
  border-radius: 3px;
  margin:0;
}

.footer-instagram-images img {
height: 94.5px;
border-radius: 3px;
width: 104.5px;
margin-top: 6px;
margin-bottom: 4.5px;
}

.footer-text-group-a2 {
  position: absolute;
  width: 306px;
  height: 314.06px;
  left: 0px;
  top: 0px;
}

.footer-text-group-a2 h2 {
  position: absolute;
  width: 251px;
  height: 100px;
  left: 1px;
  top: 0px;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  /* or 100% */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin:0;
}

.footer-nav-ul {
  position: absolute;
  width: 306px;
  height: 173.56px;
  left: 0px;
  top: 140.5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:22px;
  padding:0;
  margin:0;
}

.footer-nav-li {
  width: 306px;
  height: 64.78px;
  display:flex;
  gap: 13px;
  align-items: center;
}

.footer-nav-li img {
  width: 28px;
  height: 28px;
}

.footer-nav-a {
  width: 238.23px;
  height: 60px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 180% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  
}

.footer-nav2-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0px 5.39062px;
  gap: 7.39px;
  position: absolute;
  width: 221px;
  height: 242.34px;
  left: 0px;
  top: 59.09px;
  margin:0;
  padding:0;
}

.footer-nav2-li {
  width: 100%;
  height: 100%;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 180% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin:0;
  padding:0;
}

.footer-nav2 {
  margin:0;
  padding:0;
}

.footer-bottom {
  box-sizing: border-box;
  position: absolute;
  width: 1920px;
  height: 89.8px;
  left: 0px;
  top: 471.45px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-bottom-group {
  position: absolute;
  width: 1064.58px;
  height: 27px;
  left: 425.42px;
  top: 32.55px;
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.footer-bottom-group h4 {
  width: 332.14px;
  height: 27px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 180% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin:0;
}

.x-logo {
  width: 18px;
  height: 18px;
}

.x-logo img {
  background: #FFFFFF;
  margin:0;
}

@media (max-width:756px) {
  
  html{
    font-size: 62.5%; /* 1rem = 10px */
    width: auto;
    height: auto;
  }

  header {
    width:auto;
    height: 100vh;
    background-position:center;
    gap:10rem;
  }

  .header h1{
    width: auto;
    height: auto;
  }

  .header-content {
    width:auto;
    height:auto;
    position: static;
    gap:4rem;
  }

  .header-content h1 {
    width:auto;
    height:auto;
    font-size: 8.6rem;
    position: relative;
    top:0;
  }

  .header-content h2 {
    width: auto;
    height: auto;
    display: none;
  }

  #teknolojik{
    width: auto;
    height: auto;
    top:12.6rem;
  }

}